
<div class="container-fluid">
    <div class="row align-items-center custom-header-style py-2">
      <div class="col-sm-8">
        <div class="d-flex align-items-center">
          
          <span class="text-white"><strong style="color: black;">test2demo</strong></span>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
             InActive
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>

          <div class="ms-3">
            <div class="d-flex align-items-center">
              <img src="assets/lock.png" alt="Lock Icon" class="me-2" style="max-height: 30px;">
              <a class="nav-link text-white" routerLink="/new"></a>
            </div>
          </div>

          <div class="ms-3">
            <div class="d-flex align-items-center">
              <img src="assets/arrow.png" alt="Arrow Icon" class="me-2" style="max-height: 30px;">
              <a class="nav-link text-white" routerLink="/new"></a>
            </div>
          </div>

          <div class="ms-3">
            <div class="d-flex align-items-center">
              <img src="assets/menu.png" alt="Menu Icon" class="me-2" style="max-height: 30px;">
              <a class="nav-link text-white" routerLink="/new"></a>
            </div>
          </div>

          <div class="ms-3">
            <div class="d-flex align-items-center">
              <button class="btn btn-light">&lt;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
  
  <div class="container-fluid">
    <div class="row align-items-center custom-header-style py-2">
      <div class="col">
        <div class="d-flex align-items-center">
          <span class="text-white"><p style="color: black;">ID: LA-29668</p></span>
          <span class="text-white"><p style="color: black; margin-left: 15px;">Publishing Agreement</p></span>
          <span class="text-white"><p style="color: black; margin-left: 15px;">3 Jun 2024</p></span>
          <span class="text-white"><p style="color: black; margin-left: 15px;">20 Jun 2024</p></span>
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex align-items-center justify-content-end">
          <button class="btn">DS-14 ADD</button>
          <button class="btn  ">DS-14 ADD</button>
          <button class="btn ">DS-14 ADD</button>
          <button class="btns ">+ ADD TAG</button>
        </div>
      </div>
    </div>
  </div>

<div class="empty">s</div>



<div class="container-fluids">
  <div class="row align-items-center custom-header-style py-2">
    <div class="col">
      <div class="d-flex align-items-center">
        <button class="btnss">General</button>
        <button class="btnss ">Contracting Parties</button>
        <button class="btnss ">Royalty Percentage</button>
        <button class="btnss ">Advances</button>
        <button class="btnss ">Options</button>
        <button class="btnss ">Restrictions</button>
        <button class="btnss ">Socities</button>
        <button class="btnss ">Contacts</button>
        <button class="btnss ">Notes</button>
        <button class="btnss ">Linked</button>
      </div>
    </div>
    </div>
</div>

