
<div class="container-fluid">
    <div class="header row align-items-center bg-dark py-2">
        <div class="col text-start">
            <div class="d-flex align-items-center">
                <img src="assets/circle.png" alt="Circle Icon" class="me-2" style="max-height: 30px;">
                <span class="text-white">contracts</span>
            </div>
        </div>
        <div class="col text-center">
            <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                    <img src="assets/contracts.png" alt="Contracts Icon" class="me-2" style="max-height: 30px;">
                    <a class="nav-link text-white" routerLink="/new">plus</a>
                </div>
                <div class="col-auto">
                    <img src="assets/new.png" alt="New Icon" class="me-2" style="max-height: 30px;">
                    <a class="nav-link text-white" routerLink="/new">new</a>
                </div>
            </div>
        </div>
        <div class="col text-end">
            <div class="d-flex align-items-center justify-content-end">
                <img src="assets/gear.png" alt="Gear Icon" class="me-2" style="max-height: 30px;">
                <a class="nav-link text-white" routerLink="/new">gear</a>
            </div>
        </div>
    </div>
</div>

